<div class="container-fluid panel-footer p-3 bg-lightgray border-top-default">
  <div class="row">
     <div class="col-md-12 footer-links">
       <a href="https://catalog.loc.gov/">Catalog Homepage</a>
       <a href="https://www.loc.gov/collections/">LOC.gov Digital Collections</a>
       <a href="https://www.loc.gov/accessibility/">Accessibility</a>
       <a href="https://www.loc.gov/contact/">Submit Feedback</a>
       <a href="https://archivesspace.org/">Powered by ArchivesSpace</a>
     </div>
  </div>
</div>