<div class="collection-inventory">
<% if has_children %>
    <a id="collection-inventory"></a>
    <h3><%= I18n.t('pdf_reports.collection_inventory') %></h3>
    <table class="collection-inventory-header">
      <tr>
  <td class="instance">Container</td>
  <td class="title">Contents</td>
      </tr>
      <%= yield %>
    </table>
<% end %>
</div>
