<div class="collection-inventory">
<% if has_children %>
    <a id="collection-inventory"></a>
    <h3><%= I18n.t('pdf_reports.collection_inventory') %></h3>
    <table class="collection-inventory-header">
      <td class="title">Title/Description</td>
      <td class="instance">Instances</td>
    </table>
<% end %>
<%= yield %>
</div>
