<div class="note_orderedlist">
  <div class="enumeration-<%= note['enumeration'] %>">
    <ol>
      <% Array(note['items']).each do |item| %>
        <li><%= process_mixed_content(item) %></li>
      <% end %>
    </ol>
  </div>
</div>
